# Code owners – automatische Reviewer-Zuordnung
# Mehr Infos: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @goldikolb
